.container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 3em;
  margin-top: 2rem;
}

.card {
    margin-top: 1rem;
    max-width: 30vw;
    max-height: 25rem;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    img {
        width: 100px;
        height: 100px;
    } 
  
}

@media(max-width: 1366px) {
  .container {
    gap: 1em;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    margin-top: 3rem;
  }
   
}