.contact-form {
    width: 70%;
    margin-top: 5%;
    margin-left: 5%;

    .form-par {
      font-family: var(--font-courier);
      width: 50%;
      line-height: 1.375rem;
      font-size: 0.875rem;
      text-align: justify;
      margin-bottom: 3.125rem;
    }
    /*
    .form-contact {
        width: 80%;
        flex-direction: column;
    }

    .input {
     display: flex;
     flex-direction: column;
     width: 25%;
     margin-bottom: 2rem;
    }

    .text-area {
      max-width: 50%;
      height: 13.125rem;
      max-height: 13.125rem;
      margin-bottom: 2rem;
    } */
}